
.header{
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
}

.logo{
    height:100px;
    width: 100px
}

.nav-items > ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10;
    margin: 10;
}

.resto-card{
    
    padding: 5px;
    width: 200px;
    margin: 5px;
    background-color: #f0f0f0;
}

.resto-card:hover {
    border: 1px black solid;
    cursor: pointer;
}

.resto-logo{
    width: 100%;
    height: 200px;
}

.resto-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    padding: 5px;
    width: 200px;
    height: 300px;
    margin: 5px;
    background-color: #f0f0f0;   

}

.login-btn{
    padding : 0px 5px;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.filter{
    display: flex;
}
.items-list{
    list-style-type: none;
}

.owner-card{
    padding: 10px;
    border: 1px black solid;
    margin: 10px;
}