
.header{
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
}

.logo{
    height:100px;
    width: 100px
}

.nav-items > ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10;
    margin: 10;
}

.resto-card{
    
    padding: 5px;
    width: 200px;
    height: 310px;
    background-color: #f0f0f0;
}

.resto-card:hover {
    border: 1px black solid;
    cursor: pointer;
}

.resto-logo{
    width: 100%;
}

.resto-container{
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
}
